---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Org }}-{{ .AppName }}"
  labels:
    fuseml/app-guid:  "{{ .Org }}.{{ .AppName }}"
    fuseml/app-name: "{{ .AppName }}"
    fuseml/org: "{{ .Org }}"
    fuseml/serving: "deployment"
    fuseml/infer-url: "invocations"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .AppName }}"
  template:
    metadata:
      labels:
        app: "{{ .AppName }}"
        fuseml/app-guid: "{{ .Org }}.{{ .AppName }}"
        # Needed for the ingress extension to work:
        cloudfoundry.org/guid:  "{{ .Org }}.{{ .AppName }}"
      annotations:
        # Needed for the ingress extension to work:
        cloudfoundry.org/routes: '[{ "hostname": "{{ .Route }}", "port": 8080 }]'
        cloudfoundry.org/application_name:  "{{ .AppName }}"
    spec:
      serviceAccountName: "{{ .ServiceAccountName }}"
      containers:
        - name: "{{ .AppName }}"
          image: "127.0.0.1:30500/apps/{{ .AppName }}@__IMAGE_SHA__"
          command:
            - bash
          args:
            - -c
            - |
              mlflow models serve --no-conda -h 0.0.0.0 -p 8080 -m ${MODEL_URI}
          ports:
            - containerPort: 8080
          env:
            - name: MLFLOW_TRACKING_URI
              value: "http://mlflow/"
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://mlflow-minio:9000/"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  key: accesskey
                  name: mlflow-minio
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: secretkey
                  name: mlflow-minio
            - name: MODEL_URI
              value: "__MODEL_URI__"
