---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: "{{ .Org }}-{{ .AppName }}"
  labels:
    fuseml/app-name: "{{ .AppName }}"
    fuseml/org: "{{ .Org }}"
    fuseml/app-guid: "{{ .Org }}.{{ .AppName }}"
    fuseml/serving: "knative"
spec:
  template:
    metadata:
      labels:
        fuseml/app-guid: "{{ .Org }}.{{ .AppName }}"
        fuseml/infer-url: "invocations"
    spec:
      serviceAccountName: "{{ .ServiceAccountName }}"
      containers:
        - name: "{{ .AppName }}"
          image: "127.0.0.1:30500/apps/{{ .AppName }}@__IMAGE_SHA__"
          command:
            - bash
          args:
            - -c
            - |
              mlflow models serve --no-conda -h 0.0.0.0 -p 8080 -m ${MODEL_URI}
          ports:
            - containerPort: 8080
          env:
            - name: MLFLOW_TRACKING_URI
              value: "http://mlflow/"
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://mlflow-minio:9000/"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  key: accesskey
                  name: mlflow-minio
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: secretkey
                  name: mlflow-minio
            - name: MODEL_URI
              value: "__MODEL_URI__"