name: Get fuseml-installer script
on:
  workflow_call:
  pull_request:
    paths:
      - "install.sh"
  push:
    paths:
      - "install.sh"
jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - name: Install kubectl
        if: matrix.os == 'macos-latest'
        run: brew install kubectl
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download latest fuseml-installer version
        shell: bash
        run: ./install.sh
      - name: Check fuseml-installer version
        run: fuseml-installer -v
